.about {
  display: flex;
  flex-direction: row;
}

.about img {
  max-width: 300px;
  margin-right: 16px;
}

.about p {
  font-size: 24px;
}

@media (max-width: 700px) {
  .about {
    flex-direction: column;
  }

  .about img {
    max-width: none;
    width: 100%;
  }

  .about p {
    font-size: 24px;
    max-width: 100%;
  }
}
