.nav-link {
  font-size: 3vw !important;
}

.nav-link.active {
  color: black !important;
  background-color: pink !important;
}

.nav-link:hover {
  background-color: pink !important;
}

@media (min-width: 576px) {
  .nav-link {
    font-size: 2vw;
  }
}

@media (min-width: 992px) {
  .nav-link {
    font-size: 20px !important;
  }
}
