nav {
  background: rgb(196, 196, 196);
  width: 100%;
  border: 1px solid rgb(196, 196, 196);
}

.nav-container {
  display: flex;
  flex-direction: row;
  max-width: 1200px;
  margin: 16px auto;
  padding: 16px;
}

.nav-item {
  width: auto;
  padding: 16px;
}

.nav-link {
  font-size: 3vw !important;
}

.nav-link.active {
  color: black !important;
  background-color: pink !important;
}

.nav-link:hover {
  background-color: pink !important;
}

@media (min-width: 576px) {
  .nav-link {
    font-size: 2vw;
  }
}

@media (min-width: 992px) {
  .nav-link {
    font-size: 20px !important;
  }
}
