.portfolio-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 250px;
  border: 1px solid black;
  padding: 8px 32px;
  margin: 16px;
}

.portfolio-link {
  text-decoration: none !important;
}

.portfolio-items {
  display: flex;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.portfolio-img {
  object-fit: cover;
  width: 100%;
  aspect-ratio: 16 / 9;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0%;
  transition: opacity 0.5s;
}

.overlay:hover {
  opacity: 100%;
  transition: opacity 0.5s;
}

.portfolio-link {
  color: seagreen;
  transition: color 0.3s;
}

.portfolio-link:hover {
  color: pink;
  transition: color 0.3s;
}

.icon-link {
  font-size: 40px;
}

.portfolio-desc {
  color: teal;
}
